/* _variables.scss */


/* GRID SETTINGS                    | **REQUIRED**
================================================== */
    $widecreen              : 1140px;
    $desktop                : 960px;
    $tablet                 : 768px;
    $mobile-portrait        : 320px;
    $mobile-landscape       : 480px;

    $columns                : 12;
    $margin                 : 10px;
    $padding                : 10px;

    $responsive             : true;
    $from-direction         : left;



/* COLORS                           | **REQUIRED**
================================================== */

$colorPrimary:          #3aa8cd;
$colorPrimaryDark:      #0099cc;
$colorPrimaryLight:     adjust_hue(saturate(darken(#2a2a2a, 13), 21), 0);

$colorSecondary:        #eae9e9;
$colorSecondaryDark:    #363636;
$colorSecondaryLight:   #7c7c7c;

$colorTertiary:         #dddddd;
$colorTertiaryDark:     #cccccc;
$colorTertiaryLight:    #cccccc;

$colorTextDefault:      #433f3e;
$colorTextLight:        #a3a3a3;
$colorAnchorDefault:    #2f7499;



/* FONTS                            | **REQUIRED**
================================================== */
$default:       "opensans", Helvetica, Arial, sans-serif;
$default-alt:   "opensans-condensed", "Helvetica Neue";
$serif:         Georgia, serif;
$pictos:        "pictos";
$arrrows:       "arrrows";
$social:        "socialico";
$socialico:     "socialico";
